[submodule "prototype"]
	path = prototype
	url = https://github.com/nickw96/wasimoff
	branch = rework
[submodule "CloverLeaf_Serial"]
	path = CloverLeaf_Serial
	url = https://github.com/UK-MAC/CloverLeaf_Serial.git
