[Unit]
Description=Starting the wasimoff broker
#After=
#Before=

[Service]
ExecStart=/bin/deno run --allow-env --allow-read --allow-net /bin/wasimoff_provider/denoprovider/main.ts --workers 2 --url http://controller:4080
#ExecStop=
#ExecReload=
Type=exec
#Restart=

[Kill]
KillMode=control-group
KillSignal=SIGTERM

[Install]
WantedBy=default.target
#RequiredBy=