[Unit]
Description=Starting the wasimoff provider
#After=
#Before=

[Service]
# ExecStart=/bin/deno run --allow-env --allow-read --allow-net /bin/wasimoff_provider/denoprovider/main.ts --workers 2 --url http://controller:4080
ExecStart=/bin/deno run --allow-env --allow-read --allow-net --unstable-sloppy-imports /wasimoff_system/denoprovider/main.ts --workers 2 --url http://controller:4080
#ExecStop=
#ExecReload=
Type=exec
Restart=on-failure
KillMode=control-group
KillSignal=SIGTERM

[Install]
WantedBy=default.target
#RequiredBy=