[Unit]
Description=Starting the wasimoff broker
#After=
Before=slurmctld.service

[Service]
ExecStart=/usr/bin/bash /bin/start_broker.sh
#ExecStop=ps aux | grep broker | grep -v grep | awk '{print "kill " $2}' | sh
#ExecReload=
Type=simple
#Restart=

[Install]
WantedBy=default.target
#RequiredBy=slurmctld.service