[Unit]
Description=Starting the wasimoff provider
#After=
#Before=

[Service]
ExecStart=/bin/deno run --allow-env --allow-read --allow-net /wasimoff_system/denoprovider/main.ts --workers 2 --url http://controller:4080
#ExecStop=
#ExecReload=
Type=exec
Restart=on-failure
KillMode=control-group
KillSignal=SIGTERM

[Install]
WantedBy=default.target
#RequiredBy=