[Unit]
Description=Starting the wasimoff broker
#After=
Before=slurmctld.service

[Service]
ExecStart=/usr/bin/bash /bin/start_broker.sh
#ExecReload=
Type=simple
#Restart=

[Install]
WantedBy=default.target
#RequiredBy=slurmctld.service